.border {
  border: 1px solid grey;
}

.container {
  display: flex;
  flex-flow: row;
  padding: 1em;
}

#configuracion {
  height: 700px;
  flex-grow: 1;
}

#tabla {
  height: 700px;
  flex-grow: 8;
}

