.cursor {
  cursor: pointer;
}

input {
  margin-left: 1em!important;
}

small {
  margin-left: 1em;
}

.container {
  display: flex;
  flex-flow: row;
}

.tablas {
  border: 1px solid grey;
  border-radius: 11px;
}
