.cursor {
  cursor: pointer;
}

input {
  margin-left: 1em!important;
}

small {
  margin-left: 1em;
}

.container {
  display: flex;
  flex-flow: row;
  padding: 1em;
}

.tablas {
  border: 1px solid grey;
  border-radius: 11px;
}

h4 {
  margin-left: 2.3%;
}
